@import url("https://fonts.googleapis.com/css2?family=Outfit&family=PT+Mono&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  background-color: black;
  color: white;
}

